* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Nunito, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 37px 80px 23px;
}

.header__menu {
  display: flex;
  align-items: center;
  gap: 1px;
  position: relative;
  transition: 0.25s;
}

.header__menu--item {
  padding: 12px 23px;
  cursor: pointer;
}

.header__menu--item:hover {
  font-weight: 900;
}

.header__menu--bar,
.header__menu--close {
  display: none;
}

.page__container {
  font-size: 32px;
  display: flex;
  justify-items: center;
  align-items: center;
}

.page {
  width: 100%;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100% !important;
}

.page__homepage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.hide {
  display: none;
}
.show {
  display: flex;
}

@media screen and (max-width: 992px) {
  header {
    padding: 10px 12px;
  }
  .header__menu--close {
    display: block;
  }
  .header__menu--bar {
    display: block;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header__menu {
    width: 300px;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    flex-direction: column;
    border-left: 1px solid gray;
    background-color: white;
  }
  .header__menu--close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .page__homepage {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 480px) {
  .page__homepage {
    grid-template-columns: 1fr;
  }
}
