* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: #4743E0;
}

.required::after {
    content: " *";
    color: red;
}

body {
    padding: 101px 85px 101px 104px;
    width: 850px;
    margin: 0 auto;
}

.already {
    display: flex;
    flex-direction: row;
    gap: 10px;
    letter-spacing: 0.25px;
    justify-self: end;
}

.header {
    display: flex;
    flex-direction: row;
    margin-top: 52px;
    margin-bottom: 48px;
    align-items: center;
}

.header__title {
    min-width: 50%;
    font-weight: 700;
    font-size: 54px;
    line-height: 68px;
    color: #42505C;
}



.header__description {
    flex-grow: 1;
    line-height: 28px;
    font-weight: 700px;
    letter-spacing: .25px;
}

.divider {
    border: 1px dashed rgba(0, 0, 0, 20%);
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
    column-gap: 50px;
}

.form__information {
    margin-top: 34px;
    margin-bottom: 34px;
}

.text-field {
    display: flex;
    flex-direction: column;
}

.text-field label {
    font-size: 12px;
    line-height: 32px;
    letter-spacing: .25px;
}

.text-field input {
    height: 48px;
    padding: 5px 20px;
    border: 1px solid #D1D1D1;
    border-radius: 1px;
}

.text-field input::placeholder {
    size: 12px;
    color: #D1D1D1;
    letter-spacing: .25px;
    line-height: 28pxs;
}

.form__password {
    margin-top: 28px;
    margin-bottom: 46px;
}

.footer {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__agree {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    color: #404040;
    size: 14px;
    line-height: 28px;
    letter-spacing: .25px;
}

.footer__agree a {
    font-weight: 700;
}

input[type="checkbox"] {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.footer__register-btn {
    width: 214px;
    height: 48px;
    background-color: #4743E0;
    color: white;
    size: 14px;
    line-height: 28px;
    letter-spacing: .25px;
    font-weight: 700;
    cursor: pointer;
}